/* Sidebar container styling */

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #2c3e50;
  transition: width 0.3s ease;
  color: white;
  margin-top: 95px;
  display: flex;
  flex-direction: column;
}

.sidebar.closed {
  width: 60px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px; */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.logo {
  width: 150px;
}

.logo-collapsed {
  width: 40px;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.menu-link {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-left: 4px solid transparent; /* Add visual feedback */
}

.menu-link:hover {
  background-color: #34495e;
  border-left: 4px solid #f39c12; /* Highlight active on hover */
}

.menu-icon {
  font-size: 24px;
  color: white;
}

.menu-text {
  font-size: 20px;
  font-weight: 500;
  flex-grow: 1; /* Ensure the text grows */
  margin-left: 10px;
}



.sidebar.closed .menu-text {
  display: none; /* Hide text in collapsed sidebar */
}

.sidebar.closed .menu-icon {
  margin-right: 0; /* Remove space between icon and text in collapsed sidebar */
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Adjusting for smaller screens */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }

  .sidebar.closed {
    width: 100%;
  }
}
