/* General Styling */
.main-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: margin-left 0.3s ease;
  }
  
  .main-content.open {
    margin-left: 250px;
  }
  
  .main-content.closed {
    margin-left: 60px;
  }
  
  /* Page Name Styling */
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: black;
    text-align: left;
  }
  
  /* Search Bar Styling */
  .search-bar-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin-left: auto;
  }
  
  .search-bar {
    flex-grow: 1;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .search-icon {
    padding: 10px;
    background-color: #00aaff;
    border-radius: 0 5px 5px 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-icon:hover {
    background-color: #008bb5;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    h2 {
      font-size: 2em;
    }
  
    .search-bar-container {
      max-width: 100%;
    }
  }
  